@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.all-content-wrapper { 
  text-align: center;
  margin: 1rem;
  max-width: 100%;
}

header {
  font-weight: 700;
  margin-top: 3rem;
}

h1 {
  margin: 0 auto;
}

.claim-intro {
  line-height: 1.7;
  width: 90%;
  margin: 1.5rem auto;
}

.left-grid,
.claim-info {
  color: #fff;
}

.claim-info {
  padding: 1rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.claim-info-highlight {
  font-weight: 600;
}

/* Form styles */

.form-wrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.claim-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-field {
  display: flex;
  margin: 0.5rem;
}

.form-field > input {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  flex: 1;
  font-size: 1rem;
  padding: 1rem 1rem;
  font-family: inherit;
}

.claim-form input::placeholder {
  color: hsl(246, 25%, 77%);
  font-weight: 600;
}

/* Form active states */
.form-field > input:hover {
  border: 2px solid #ccc;
}

.form-field > input:focus {
  outline: none;
  border: 1px solid hsl(249, 10%, 26%);
  font-weight: 600;
  color: hsl(249, 10%, 26%);
}

/* Button styles */
.claim-form button {
  background-color: hsl(154, 59%, 51%);
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 3px 0 0 hsla(154, 86%, 27%, 0.7);
  margin: 0.5rem;
  font-size: em;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1em;
}

.claim-form button:hover {
  cursor: pointer;
  background-color: hsl(154, 82%, 59%);
}

/* Error styling */

.form-field > span {
  background: url("images/icon-error.svg") no-repeat;
  background-position: right;
  width: 2rem;
  display: none;
}

.error-message {
  color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  margin: 0 0.6rem;
}

.claim-form .error-message {
  display: none;
}

.copyright {
  font-size: 0.6rem;
  color: #ccc;
}

.copyright-highlight {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

footer {
  margin-top: 2rem;
}
