@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.all-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h1 {
    font-weight: 600;
}

.claim-form{
    display: flex;
    flex-flow: column wrap;
}