@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.all-content-wrapper { 
  /* text-align: center; */
  margin: 1rem;
  max-width: 100%;
}

header {
  font-weight: 700;
  margin-top: 3rem;
}

h1, .claim-intro, .claim-info {
  margin: 0 auto;
  text-align: center;
}

.claim-intro {
  line-height: 1.7;
  width: 90%;
  margin: 1.5rem auto;
}

.left-grid,
.claim-info {
  color: #fff;
}

.claim-info {
  padding: 1rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.claim-info-highlight {
  font-weight: 600;
}

/* Form styles */

.form-wrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.claim-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1.3rem; /* space for the error message */
  position: relative;
}

.form-field > input {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 1rem;
  font-family: inherit;
}

.claim-form input::placeholder {
  color: hsl(246, 25%, 77%);
  font-weight: 600;
}

.form-field span {
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 10px;
}

.form-field small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  color: hsl(0, 100%, 74%);
}

/* Form active states */
.form-field > input:hover {
  border: 2px solid #ccc;
}

.form-field > input:focus {
  outline: none;
  border: 1px solid hsl(249, 10%, 26%);
  font-weight: 600;
  color: hsl(249, 10%, 26%);
}

/* Button styles */
.claim-form button {
  display: block;
  background-color: hsl(154, 59%, 51%);
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 3px 0 0 hsla(154, 86%, 27%, 0.7);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1em;
}

.claim-form button:hover {
  cursor: pointer;
  background-color: hsl(154, 82%, 59%);
}

/* Error styling */

.form-field.success > input {
  border: 2px solid hsl(154, 59%, 51%);
}

.form-field.error > input {
  border: 2px solid hsl(0, 100%, 74%);
}

.form-field.error > span {
  visibility: visible;
}

.form-field.error > small {
  visibility: visible;
}

.copyright {
  font-size: 0.6rem;
  color: #ccc;
}

.copyright-highlight {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

footer {
  margin-top: 2rem;
}

/* Desktop design */
@media only screen and (min-width: 700px) {
  .all-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
  }
}